.about {
    padding: 80px 0;
    background-color: var(--color-white);
}

.about__container {
    display: flex;
    gap: 120px;
    align-items: center;
    padding: 0 175px;
}

.about__image {
    width: 300px;
    height: 408px;
    object-fit: cover;
}

.about__content {
    width: 430px;
}

.about__title {
    width: 370px;
    margin-top: 14px;
}

.about__text {
    color: var(--color-dark-lighter);
}

.about__text:first-of-type {
    margin: 25px 0;
}