.help {
    padding: 100px 0;
    background-color: var(--color-white);
}

.help__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.help__title {
    max-width: 315px;
    margin: 0;
    text-align: center;
    padding-left: 2px;
}

.help__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 119px;
    row-gap: 55px;
    max-width: 1026px;
    min-height: 281px;
}

.help__item {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.help__icon {
    width: 60px;
    height: 60px;
}

.help__name {
    margin: 0;
    font-family: var(--font-family-primary);
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-dark);
}