.help {
    padding: 100px 0;
    background-color: var(--color-white);
}

.help__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.help__title {
    max-width: 315px;
    margin: 0;
    text-align: center;
    padding-left: 2px;
}

.help__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 119px;
    row-gap: 55px;
    max-width: 1026px;
}

.help__item {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.help__icon {
    width: 60px;
    height: 60px;
}

.help__name {
    margin: 0;
    font-family: var(--font-family-primary);
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-dark);
}

@media (max-width: 900px) {
    .help__container {
        gap: 42px;
    }

    .help__list {
        column-gap: 60px;
        row-gap: 30px;
    }

    .help__item {
        width: 170px;
        height: 87px;

    }

    .help__name {
        font-size: 15px;
        line-height: 1.6;
    }

    .help__title {
        font-size: 25px;
    }
}

@media (max-width: 475px) {

    .help {
        padding: 40px 0;
    }

    .help__item {
        width: 130px;
    }

    .help__icon {
        width: 50px;
        height: 50px;
    }

    .help__list {
        column-gap: 30px;
    }
}

@media (max-width: 320px) {
    .help__list {
        width: calc(130px * 2 + 30px);
        margin-top: 3px;
        justify-content: flex-start;
    }

    .help__item {
        column-gap: 30px;
    }

    .help__icon {
        margin-top: -3px;
    }
}