.in-addition {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: var(--color-background);
}

.in-addition__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 915px;
    padding: 0;
}

.in-addition__image {
    width: 505px;
    height: 261px;
    object-fit: contain;
}

.in-addition__content {
    width: 380px;
}
.in-addition__title {
    width: 300px;
}
.in-addition__subtitle {
    margin: 20px 0;
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.1;
    letter-spacing: 0.06em;
    color: var(--color-dark);
}

.in-addition__credit-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 349px;
    height: 43px;
    padding: 10px 15px;
    border-radius: 9px;
    background-color: var(--color-primary);
    transition: background-color var(--transition-base);
}

.in-addition__credit-card:hover {
    background-color: var(--color-primary-light);
}

.in-addition__credit-card-number {
    font-family: var(--font-family-primary);
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: var(--color-dark);
}

.in-addition__credit-card-icon {
    order: -1;
    width: 30px;
    height: 23px;
}
  
.in-addition__text {
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
    color: var(--color-dark-muted);
}